/* Swiper Navigation and Pagination Styles */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    width: 50px;
    height: 50px;
    background: #0000003d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff;
    font-size: 35px;
}

.swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

@media(max-width: 767px) {

    /* Swiper Navigation and Pagination Styles */
    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 24px;
    }
}